@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Raleway:wght@900&display=swap');

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: #fff;
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid #ccc;
  position: relative;
}

.header-title {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.header-subtitle {
  animation: fadeIn 1.2s ease-in-out;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  margin: 0 0 0;
  font-weight: 400;
  letter-spacing: 1px;
  opacity: 0.9;
}

.main-container {
  display: flex;
  flex: 1;
  background-color: #F7F4EA; 
}

.chat-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-right: 2px solid #ccc;
}

.message-area {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  background-color: #ffffff;
}

.input-box {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
}

.navigation-buttons button {
  padding: 5px 10px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  cursor: pointer;
}

.navigation-buttons button:hover {
  background-color: #e0e0e0;
}

.robot-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.speech-bubble {
  animation: fadeIn 2s ease-in-out;
  position: relative;
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 10px;
  width: 14em;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.speech-bubble::after {
  content: "";
  position: absolute;
  bottom: -40px; /* Triangle appears just below the bubble */
  left: 50%; /* Center the triangle horizontally */
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-width: 20px; /* Adjust triangle size */
  border-style: solid;
  border-color: #ffffff transparent transparent transparent; /* Matching bubble color */
}

.robot-image {
  width: 15em;
  height: auto;
  object-fit: cover;
}
